***TASK 1***

In [ ]:
class Student:
  ID = 0
  def __init__(self,name,dept,age,cgpa):
    Student.ID +=1
    self.name = name
    self.dept = dept
    self.age = age
    self.cgpa = cgpa
    self.id = Student.ID

  def showDetails(self):
    print(f'ID: {self.id}\nName: {self.name}\nDepartment: {self.dept}\nAge: {self.age}')
    print("CGPA: ",self.cgpa)
  @classmethod
  def from_String(cls,string1):
    name, department, age, cgpa = string1.split('-')
    return cls(name, department, age, cgpa)

s1 = Student("Samin", "CSE", 21, 3.91)
s1.showDetails()
print("-----------------------")
s2 = Student("Fahim", "ECE", 21, 3.85)
s2.showDetails()
print("-----------------------")
s3 = Student("Tahura", "EEE", 22, 3.01)
s3.showDetails()
print("-----------------------")
s4 = Student.from_String("Sumaiya-BBA-23-3.96")
s4.showDetails()

print()
print("""Class variables are shared by all instances of a class.They are defined within a class but outside any of the class’s methods.Class variables are not used as often as instance variables and
instance variables are unique to each instance of a class.They are defined within methods and are used for the data that is unique to each instance.""")
print()

print("""Instance methods are methods that are bound to the instance of the class.They can access and modify instance variables of the class and
Class methods are methods that are bound to the class and not the instance of the class.They can’t access or modify instance variables.
However, they can access and modify class variables.""")

ID: 1
Name: Samin
Department: CSE
Age: 21
CGPA:  3.91
-----------------------
ID: 2
Name: Fahim
Department: ECE
Age: 21
CGPA:  3.85
-----------------------
ID: 3
Name: Tahura
Department: EEE
Age: 22
CGPA:  3.01
-----------------------
ID: 4
Name: Sumaiya
Department: BBA
Age: 23
CGPA:  3.96

Class variables are shared by all instances of a class.They are defined within a class but outside any of the class’s methods. Class variables are not used as often as instance variables and
instance variables are unique to each instance of a class.They are defined within methods and are used for the data that is unique to each instance.

Instance methods are methods that are bound to the instance of the class. They can access and modify instance variables of the class and
Class methods are methods that are bound to the class and not the instance of the class.They can’t access or modify instance variables.
However, they can access and modify class variables.

***TASK 2***

In [ ]:
class Passenger:
  count = 0
  def __init__(self,name):
    self.name = name
    Passenger.count +=1
    self.bus_fare = 450
  def set_bag_weight(self,weight):
    self.weight = weight
    if 21<=self.weight<=50:
      self.bus_fare +=50
    elif self.weight>50:
      self.bus_fare +=100
    else:
      self.bus_fare = 450
  def printDetail(self):
    print(f'Name: {self.name}\nBus Fare: {self.bus_fare} taka')

print("Total Passenger:", Passenger.count)
p1 = Passenger("Jack")
p1.set_bag_weight(90)
p2 = Passenger("Carol")
p2.set_bag_weight(10)
p3 = Passenger("Mike")
p3.set_bag_weight(25)
print("=========================")
p1.printDetail()
print("=========================")
p2.printDetail()
print("=========================")
p3.printDetail()
print("=========================")
print("Total Passenger:", Passenger.count)

Total Passenger: 0
=========================
Name: Jack
Bus Fare: 550 taka
=========================
Name: Carol
Bus Fare: 450 taka
=========================
Name: Mike
Bus Fare: 500 taka
=========================
Total Passenger: 3

***TASK 3***

In [ ]:
class Travel:
  count = 0
  def __init__(self,source,destination):
    self.source = source
    self.destination = destination
    Travel.count +=1
    self.flight_time = 1

  def set_time(self,time):
    self.flight_time = time

  def display_travel_info(self):
    return f'Source: {self.source}\nDestination:{self.destination}\nFlight Time:{self.flight_time}:00'

  def set_source(self,source1):
    self.source = source1

  def set_destination(self,destination1):
    self.destination = destination1

print("No. of Traveller =", Travel.count)
print("=======================")
t1 = Travel("Dhaka","India")
print(t1.display_travel_info())
print("=======================")
t2 = Travel("Kuala Lampur","Dhaka")
t2.set_time(23)
print(t2.display_travel_info())
print("=======================")
t3 = Travel("Dhaka","New_Zealand")
t3.set_time(15)
t3.set_destination("Germany")
print(t3.display_travel_info())
print("=======================")
t4 = Travel("Dhaka","India")
t4.set_time(9)
t4.set_source("Malaysia")
t4.set_destination("Canada")
print(t4.display_travel_info())
print("=======================")
print("No. of Traveller =", Travel.count)

No. of Traveller = 0
=======================
Source: Dhaka
Destination:India
Flight Time:1:00
=======================
Source: Kuala Lampur
Destination:Dhaka
Flight Time:23:00
=======================
Source: Dhaka
Destination:Germany
Flight Time:15:00
=======================
Source: Malaysia
Destination:Canada
Flight Time:9:00
=======================
No. of Traveller = 4

***TASK 4***

In [ ]:
class NikeBangladesh:
  branches = []
  inventory = {"Air Jordan": 0, "Cortez": 0, "Zoom Kobe": 0}
  total_sold = 0

  def __init__(self,outlet):
    self.outlet = outlet
    self.stocked ={"Air Jordan": 0, "Cortez": 0, "Zoom Kobe": 0}
    self.sold = 0
    NikeBangladesh.branches.append(outlet)

  def restockProducts(self, new_stock):
    for product , quantity in new_stock.items():
      self.stocked[product] += quantity
      NikeBangladesh.inventory[product] += quantity

  def productSold(self,sold_stock):
    for product,quantity in sold_stock.items():
      self.stocked[product] -= quantity
      NikeBangladesh.inventory[product] -= quantity
      self.sold += quantity
      NikeBangladesh.total_sold += quantity

  def details(self):
    print(f"Nike {self.outlet} outlet:")
    print("Products Currently Stocked: ")
    print(self.stocked)
    print(f"Sold: {self.sold}")

  @classmethod
  def status(cls):
    print("Nike Bangladesh Status:")
    print(f"Branches Opened:  {cls.branches}")
    print("Currently Stocked")
    print(cls.inventory)
    print(f"Sold: {cls.total_sold}")

print("xxxxxxxxxxxxxx1xxxxxxxxxxxxxxxx")
NikeBangladesh.status()
dhaka = NikeBangladesh("Dhaka Banani")
chittagong = NikeBangladesh("Chittagong GEC")
print("xxxxxxxxxxxxxx2xxxxxxxxxxxxxxxx")
dhaka.details()
print("xxxxxxxxxxxxxx3xxxxxxxxxxxxxxxx")
chittagong.details()
print("xxxxxxxxxxxxxx4xxxxxxxxxxxxxxxx")
dhaka.restockProducts(
{"Air Jordan":1200,"Cortez":200,"Zoom Kobe":200})
chittagong.restockProducts(
{"Air Jordan":1000,"Cortez":250,"Zoom Kobe":100})
print("xxxxxxxxxxxxxx5xxxxxxxxxxxxxxxx")
NikeBangladesh.status()
print("xxxxxxxxxxxxxx6xxxxxxxxxxxxxxxx")
dhaka.productSold({"Air Jordan":760,"Cortez":90})
chittagong.productSold({"Air Jordan":520,"Zoom Kobe":70})
print("xxxxxxxxxxxxxx7xxxxxxxxxxxxxxxx")
NikeBangladesh.status()

xxxxxxxxxxxxxx1xxxxxxxxxxxxxxxx
Nike Bangladesh Status:
Branches Opened:  []
Currently Stocked
{'Air Jordan': 0, 'Cortez': 0, 'Zoom Kobe': 0}
Sold: 0
xxxxxxxxxxxxxx2xxxxxxxxxxxxxxxx
Nike Dhaka Banani outlet:
Products Currently Stocked:
{'Air Jordan': 0, 'Cortez': 0, 'Zoom Kobe': 0}
Sold: 0
xxxxxxxxxxxxxx3xxxxxxxxxxxxxxxx
Nike Chittagong GEC outlet:
Products Currently Stocked:
{'Air Jordan': 0, 'Cortez': 0, 'Zoom Kobe': 0}
Sold: 0
xxxxxxxxxxxxxx4xxxxxxxxxxxxxxxx
xxxxxxxxxxxxxx5xxxxxxxxxxxxxxxx
Nike Bangladesh Status:
Branches Opened:  ['Dhaka Banani', 'Chittagong GEC']
Currently Stocked
{'Air Jordan': 2200, 'Cortez': 450, 'Zoom Kobe': 300}
Sold: 0
xxxxxxxxxxxxxx6xxxxxxxxxxxxxxxx
xxxxxxxxxxxxxx7xxxxxxxxxxxxxxxx
Nike Bangladesh Status:
Branches Opened:  ['Dhaka Banani', 'Chittagong GEC']
Currently Stocked
{'Air Jordan': 920, 'Cortez': 360, 'Zoom Kobe': 230}
Sold: 1440

***TASK 5***

In [ ]:
class Student:
  total_students = 0
  brac_uni_students = 0
  other_ins_students = 0

  def __init__(self,name,dept,institution = "BRAC University"):
    self.name = name
    self.dept = dept
    self.institution = institution
    Student.total_students +=1
    if self.institution == "BRAC University":
      Student.brac_uni_students+=1
    else:
      Student.other_ins_students+=1


  @classmethod
  def createStudent(cls,name,dept,institution=None):
    if institution != None:
      return cls(name,dept,institution)
    else:
      return cls(name,dept)
  def individualDetail(self):
    print(f"Name: {self.name}\nDepartment: {self.dept}\nInstitution: {self.institution}")



  @classmethod
  def printDetails(cls):
    print(f'Total Student(s): {Student.total_students}\nBRAC University Student(s): {Student.brac_uni_students}')
    print(f'Other Institution Student(s): {Student.other_ins_students}')

Student.printDetails()
print('#########################')

mikasa = Student('Mikasa Ackerman', "CSE")
mikasa.individualDetail()
print('------------------------------------------')
Student.printDetails()

print('========================')

harry = Student.createStudent('Harry Potter', "Defence Against Dark Arts", "Hogwarts School")
harry.individualDetail()
print('-------------------------------------------')
Student.printDetails()

print('=========================')

levi = Student.createStudent("Levi Ackerman", "CSE")
levi.individualDetail()
print('--------------------------------------------')
Student.printDetails()

Total Student(s): 0
BRAC University Student(s): 0
Other Institution Student(s): 0
#########################
Name: Mikasa Ackerman
Department: CSE
Institution: BRAC University
------------------------------------------
Total Student(s): 1
BRAC University Student(s): 1
Other Institution Student(s): 0
========================
Name: Harry Potter
Department: Defence Against Dark Arts
Institution: Hogwarts School
-------------------------------------------
Total Student(s): 2
BRAC University Student(s): 1
Other Institution Student(s): 1
=========================
Name: Levi Ackerman
Department: CSE
Institution: BRAC University
--------------------------------------------
Total Student(s): 3
BRAC University Student(s): 2
Other Institution Student(s): 1

***TASK 6***

In [ ]:
class SultansDine:
  total_sell = 0
  branches = []
  branch_sell = {}

  def __init__(self, branch_name):
    self.branch_name = branch_name
    SultansDine.branches.append(branch_name)
    SultansDine.branch_sell[branch_name] = 0

  def sellQuantity(self, quantity):
    if quantity < 10:
      self.branch_sell = quantity * 300
    elif quantity < 20:
      self.branch_sell = quantity * 350
    else:
      self.branch_sell = quantity * 400
    SultansDine.total_sell += self.branch_sell
    SultansDine.branch_sell[self.branch_name] = self.branch_sell

  def branchInformation(self):
    print(f"Branch Name: {self.branch_name}")
    print(f"Branch Sell: {self.branch_sell} Taka")

  @classmethod
  def details(cls):
    print(f"Total Number of branch(s): {len(cls.branches)}")
    print(f"Total Sell: {cls.total_sell} Taka")
    for branch in cls.branches:
      sell_percentage = (cls.branch_sell[branch] / cls.total_sell) * 100
      print(f"Branch Name: {branch}, Branch Sell: {cls.branch_sell[branch]} Taka")
      print(f"Branch consists of total sell's: {sell_percentage:.2f}%")


SultansDine.details()
print('########################')
dhanmondi = SultansDine('Dhanmondi')
dhanmondi.sellQuantity(25)
dhanmondi.branchInformation()
print('-----------------------------------------')
SultansDine.details()

print('========================')

baily_road = SultansDine('Baily Road')
baily_road.sellQuantity(15)
baily_road.branchInformation()
print('-----------------------------------------')
SultansDine.details()

print('========================')
gulshan = SultansDine('Gulshan')
gulshan.sellQuantity(9)
gulshan.branchInformation()
print('-----------------------------------------')
SultansDine.details()

Total Number of branch(s): 0
Total Sell: 0 Taka
########################
Branch Name: Dhanmondi
Branch Sell: 10000 Taka
-----------------------------------------
Total Number of branch(s): 1
Total Sell: 10000 Taka
Branch Name: Dhanmondi, Branch Sell: 10000 Taka
Branch consists of total sell's: 100.00%
========================
Branch Name: Baily Road
Branch Sell: 5250 Taka
-----------------------------------------
Total Number of branch(s): 2
Total Sell: 15250 Taka
Branch Name: Dhanmondi, Branch Sell: 10000 Taka
Branch consists of total sell's: 65.57%
Branch Name: Baily Road, Branch Sell: 5250 Taka
Branch consists of total sell's: 34.43%
========================
Branch Name: Gulshan
Branch Sell: 2700 Taka
-----------------------------------------
Total Number of branch(s): 3
Total Sell: 17950 Taka
Branch Name: Dhanmondi, Branch Sell: 10000 Taka
Branch consists of total sell's: 55.71%
Branch Name: Baily Road, Branch Sell: 5250 Taka
Branch consists of total sell's: 29.25%
Branch Name: Gulshan, Branch Sell: 2700 Taka
Branch consists of total sell's: 15.04%