**STRING**

**TASK 1**

In [ ]:
st = input()
count_upper = 0
count_lower = 0

for i in st:
  if ord(i)>=65 and ord(i)<=90:
    count_upper+=1
  else:
    count_lower+=1
#print(count_upper)
#print(count_lower)
if count_upper>count_lower:
  for i in st:
    if ord(i)>=65 and ord(i)<=90:
      print(i,end="")
    else:
      print((chr(ord(i)-32)),end="")

if count_lower>=count_upper:
  for i in st:
    if ord(i)>=97 and ord(i)<=122:
      print(i,end="")
    else:
      print((chr(ord(i)+32)),end="")

BaNaNa
banana

In [ ]:
st = input()
count_upper = 0
count_lower = 0
new_st=""

for i in st:
  if ord(i)>=65 and ord(i)<=90:
    count_upper+=1
  else:
    count_lower+=1
if count_upper>count_lower:
  new_st=st.upper()
else:
  new_st = st.lower()
print(new_st)

ApplE
apple

**TASK 2**

In [ ]:
st= input()
is_digit = False
is_alpha = False

for i in st:
  if  48<= ord(i) <= 57:
    is_digit = True
  elif ( 97<= ord(i) <= 122) or (65 <= ord(i) <= 90):
    is_alpha = True

if is_digit and is_alpha:
    print('MIXED')

else:
  if is_digit:
    print('NUMBER')
  elif is_alpha:
    print('WORD')

Hello
WORD

**TASK 3**

In [ ]:
st = input()
index1 = 0
for i in range(len(st)):
  #if 65 <= stord(i) <= 90
  print(ord(st[i]),end =" ami ord ")

  print(i,end=" index")
  print()
  print("what?",st[i],end=" ")

qwerty
113 ami ord 0 index
what? q 119 ami ord 1 index
what? w 101 ami ord 2 index
what? e 114 ami ord 3 index
what? r 116 ami ord 4 index
what? t 121 ami ord 5 index
what? y

In [ ]:
print(ord("A"))
print(ord("a"))
print(ord("1"))

print(chr(97))

65
97
49
a

TypeError: ignored

In [ ]:
st = input()
index = 0
index1 = 0
for i in range(len(st)):
  if 65<=ord(st[i])<=90:
    index += i
    #print(index)
    break
for i in range(-1,-len(st),-1):
  if 65<=ord(st[i])<=90:
    index1 += i
    #print(index1)
    break

if (index1-index)<1:
  print("BLANK")
else:
  print(st[(index+1):index1])

baNgladEsh
BLANK

In [ ]:
#Task3
a=input()
for i in range(len(a)):
  if 65<=ord(a[i])<=90:
    b=i+1
    break
for j in range(b,len(a)):
  if 65<=ord(a[j])<=90:
    c=j
x=''
if c-b>1:
  for k in range(b,c,1):
    x+=a[k]
elif c-b<=1:
  x='BLANK'
print(x)

coDHHiIng
HHi

**TASK 4**

In [ ]:
st = input()
str1,str2 = st.split(", ")
final_str = ''


for i in str1:
    if i in str2:
        final_str+=i
    else:
        pass
for j in str2:
    if j in str1:
      final_str+=j
    else:
      pass
if final_str=='':
  print('Nothing in common.')
else:
  print(final_str)

harry, hermonie
hrrhr

In [ ]:
#Task4
a=input()
b=a.split(',')
x=''
for i in b[0]:
  if i in b[1]:
    x+=i
for j in b[1]:
  if j in b[0]:
    x+=j
if x=='':
  print('Nothing in common.')
else:
  print(x)

**TASK 5**

In [ ]:
passwords = input()


lowercase = 0
uppercase = 0
digit = 0
special = 0

for char in password:
  if 97 <=ord(char) <= 122:
    lowercase+= 1
  elif 65 <= ord(char) <= 90:
    uppercase+= 1
  elif 48 <= ord(char) <= 57:
    digit+= 1
  elif i=='_' or i=='$' or i=='#' or i=='@':
    special+=1

if lowercase=="0":
    print("Lowercase character missing")
if uppercase=="0":
    print("Uppercase character missing")
if digit=="0":
    print("Digit missing")
if special=="0":
    print("Special character missing")
if lowercase>0 and  uppercase>0 and digit>0 and special>0:
    print("OK")
else:
  print("nO")

ohmygod
nO

In [ ]:
password=input()
uppercase=0
lowercase=0
digit=0
special=0
for i in password:
  if 65<=ord(i)<=90:
    uppercase+=1
  elif 97<=ord(i)<=122:
    lowercase+=1
  elif 48<=ord(i)<=57:
    digit+=1
  elif i=='_' or i=='$' or i=='#' or i=='@':
    special+=1
x=''
if uppercase==0:
  x+='Uppercase character missing, '
if lowercase==0:
  x+='Lowercase character missing, '
if digit==0:
  x+='Digit missing, '
if special==0:
  x+='Special character missing, '

if uppercase>0 and lowercase>0 and digit>0 and special>0:
  print('OK')

else:
  print(x[0:len(x)-2:1])

ohmygod
Uppercase character missing, Digit missing, Special character missing

In [ ]:
x = "Uppercase character missing, Digit missing, Special character missing, "
print(x[0:len(x)-2:1])

Uppercase character missing, Digit missing, Special character missing

**LIST**

**TASK 1**

In [ ]:
x=[]
u=[]
while True:
  i = input()
  if i == "STOP":
    break
  x.append(int(i))
for i in x:
  if int(i) not in u:
    u.append(int(i))
for i in u:
  count = 0
  for j in x:
    if i==j:
      count+=1
  print(i,"-",count,"times")


print(u)

10
20
20
10
30
10
50
90
STOP
10 - 3 times
20 - 2 times
30 - 1 times
50 - 1 times
90 - 1 times
[10, 20, 30, 50, 90]

In [ ]:
N= int(input())
sum1 =0
for i in range(N):
  st = input()
  lst1 = st.split(" ")
  #print(lst1,"hhhh")
  for i in range(len(lst1)):#lst1 = [int(i) for i in lst1]
    lst1[i] = int(lst1[i])
  #print(lst1)
  sum2 = 0

  lst2 =[]
  for i in lst1:
    sum2 +=int(i)
    lst2.append(sum2)
    #print(lst2,"asd")
  if sum2>sum1:
    sum1=sum2
print(sum1)
print(lst2)

4
1 2 3
4 5 6
7 8 9
10 11 12
33
[10, 21, 33]

In [ ]:
string1 = input().split(" ")
string2 = input().split(" ")
new_lst=[]
#string1 = [int(i) for i in string1]
#string2 = [int(i) for i in string2]
#print(string1)
#print(string2)
for i in string1:
  for j in string2:
    new_lst.append(int(i)*int(j))
print(new_lst)

2 3 6
3 4 5
[6, 8, 10, 9, 12, 15, 18, 24, 30]

In [ ]:
while True:
  str1 = input()
  if str1 == "STOP":
    break
  x = str1.split(" ")
  print(x)
  differences = []
  for i in range(len(x)-1):
    diff = x[i] - x[i+1]
    if diff < 0:
        diff = -diff
    differences.append(diff)
  is_ub_jumper = True
  for i in range(1, n):
      if differences[i-1] != i:
          is_ub_jumper = False
          break
  if is_ub_jumper:
      print("UB Jumper")
  else:
      print("Not UB Jumper")

1 4 2 3
['1', '4', '2', '3']

TypeError: ignored

In [ ]:
while True:
    line = input().strip()
    if line == "STOP":
        break
    sequence = [int(x) for x in line.split()]
    n = len(sequence)
    differences = []
    for i in range(n-1):
        diff = sequence[i] - sequence[i+1]
        if diff < 0:
            diff = -diff
        differences.append(diff)
    differences.sort()
    is_ub_jumper = True
    for i in range(1, n):
        if differences[i-1] != i:
            is_ub_jumper = False
            break
    if is_ub_jumper:
        print("UB Jumper")
    else:
        print("Not UB Jumper")

1 4 2 3
Not UB Jumper
2 1 4 6 10
Not UB Jumper
1 4 2 -1 6
Not UB Jumper
STOP

In [ ]:
while True:
    line = input().strip()
    if line == "STOP":
        break
    sequence = [int(x) for x in line.split()]
    n = len(sequence)
    differences = [0] * (n * n)
    for i in range(n-1):
        diff = sequence[i] - sequence[i+1]
        if diff < 0:
            diff = -diff
        differences[diff] = 1
    is_ub_jumper = True
    for i in range(1, n):
        if differences[i] != 1:
            is_ub_jumper = False
            break
    if is_ub_jumper:
        print("UB Jumper")
    else:
        print("Not UB Jumper")

1 4 2 3
UB Jumper
2 1 4 6 10
UB Jumper
1 4 2 -1 6
Not UB Jumper
STOP

In [ ]:
while True:
  str1 = input().strip()
  if str1 == "STOP":
    break
  x = [int(i) for i in str1.split()]

  differences = [0] * ((len(x)) * (len(x)))

  for i in range(len(x)-1):
      diff = x[i] - x[i+1]
      if diff < 0:
          diff = -diff
      differences[diff] = 1
  is_ub_jumper = True
  for i in range(1, len(x)):
      if differences[i] != 1:
          is_ub_jumper = False
          break
  if is_ub_jumper:
      print("UB Jumper")
  else:
      print("Not UB Jumper")

1 4 2 3
UB Jumper
gf

ValueError: ignored

In [ ]:
# Sample Input 1
n = 5
k = 2
y = [0, 4, 5, 1, 0]

count = [0]*6
for i in range(n):
    count[y[i]] += 1
teams = 0
for i in range(k, 6):
    teams += count[i] // 3

print(teams) # Output: 1

# Sample Input 2
n = 6
k = 4
y = [0, 1, 2, 3, 4, 5]

count = [0]*6
for i in range(n):
    count[y[i]] += 1
teams = 0
for i in range(k, 6):
    teams += count[i] // 3

print(teams) # Output: 0

# Sample Input 3
n = 6
k = 5
y = [0, 0, 0, 0, 0, 0]

count = [0]*6
for i in range(n):
    count[y[i]] += 1
teams = 0
for i in range(k, 6):
    teams += count[i] // 3

print(teams) # Output: 2

0
0
0

In [ ]:
n = 5
k = 2
y = [0, 4, 5, 1, 0]

count = [0]*6
for i in range(n):
    count[y[i]] += 1
teams = 0
for i in range(k, 6):
    teams += count[i] // 3

print(teams) # Output: 1

0

In [ ]:
def max_teams(n, k, y):
    count = [0]*6
    for i in range(n):
        count[y[i]] += 1
    teams = 0
    for i in range(k, 6):
        teams += count[i] // 3
    return teams

# Sample Input 1
n = 5
k = 2
y = [0, 4, 5, 1, 0]
print(max_teams(n, k, y)) # Output: 1

# Sample Input 2
n = 6
k = 4
y = [0, 1, 2, 3, 4, 5]
print(max_teams(n, k, y)) # Output: 0

# Sample Input 3
n = 6
k = 5
y = [0, 0, 0, 0, 0, 0]
print(max_teams(n, k, y)) # Output: 2

0
0
0

In [ ]:
n_k = input().split()
n = int(n_k[0])
k = int(n_k[1])

y = input().split()
for i in range(n):
    y[i] = int(y[i])

count = [0]*6
for i in range(n):
    if y[i] < 0:
        y[i] = -y[i]
    count[y[i]] += 1

teams = 0
for i in range(k, 6):
    teams += count[i] // 3

print(teams)

5 2
0 4 5 1 0
0

In [ ]:
def max_teams(n, k, arr):
    count = [0]*6
    for i in range(n):
        count[arr[i]] += 1
    teams = 0
    for i in range(5, 0, -1):
        while count[i] > 0 and k > 0:
            teams += 1
            count[i] -= 1
            k -= 1
        if k == 0:
            break
    return teams

n, k = map(int, input().split())
arr = list(map(int, input().split()))
print(max_teams(n, k, arr))

5 2
0 4 5 1 0
2

In [ ]:
def max_teams(n, k, arr):
    count = [0]*6
    for i in range(n):
        count[arr[i]] += 1
    teams = 0
    for i in range(5, 0, -1):
        while count[i] > 0 and k > 0:
            teams += 1
            count[i] -= 1
            k -= 1
        if k == 0:
            break
    return teams

n_k = input().split()
n = int(n_k[0])
k = int(n_k[1])
arr_input = input().split()
arr = [int(num) for num in arr_input]
print(max_teams(n, k, arr))

5 2
0 4 5 1 0
2

In [ ]:
def max_teams(n, k, arr):
    count = [0]*6
    for i in range(n):
        count[arr[i]] += 1
    teams = 0
    for i in range(5, 0, -1):
        while count[i] > 0 and k > 0:
            teams += 1
            count[i] -= 1
            k -= 1
        if k == 0:
            break
    return teams

n_k = input().split()
n = int(n_k[0])
k = int(n_k[1])
arr_input = input().split()
arr = [int(num) for num in arr_input]
print(max_teams(n, k, arr))

6 4
0 0 0 0 0 0
0

In [ ]:
def max_teams(n, k, arr):
    count = [0]*6
    for i in range(n):
        count[min(5, arr[i])] += 1
    teams = 0
    for i in range(5, k-1, -1):
        while count[i] > 0 and n >= 3:
            teams += 1
            count[i] -= 1
            n -= 3
    return teams

n_k = input().split()
n = int(n_k[0])
k = int(n_k[1])
arr_input = input().split()
arr = [int(num) for num in arr_input]
print(max_teams(n, k, arr))

6 5
0 0 0 0 0 0
0

In [ ]:
def max_teams(n, k, arr):
    count = [0]*6
    for i in range(n):
        if arr[i] > 5:
            count[5] += 1
        else:
            count[arr[i]] += 1
    teams = 0
    for i in range(5, k-1, -1):
        while count[i] > 0 and n >= 3:
            teams += 1
            count[i] -= 1
            n -= 3
    return teams

n_k = input().split()
n = int(n_k[0])
k = int(n_k[1])
arr_input = input().split()
arr = [int(num) for num in arr_input]
print(max_teams(n, k, arr))

6 5
0 0 0 0 0 0
0

In [ ]:
n_k = input().split()
n = int(n_k[0])
k = int(n_k[1])
arr_input = input().split()
arr = [int(num) for num in arr_input]

count = [0]*6
for i in range(n):
    if arr[i] > 5:
        count[5] += 1
    else:
        count[arr[i]] += 1
teams = 0
for i in range(5, k-1, -1):
    while count[i] > 0 and n >= 3:
        teams += 1
        count[i] -= 1
        n -= 3

print(teams)

6 5
0 0 0 0 0 0
0